header > h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.351);
    margin-bottom: 20px;
}

header > p {
    color: white;
    text-align: center;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.351);
}

nav > a 
{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(4, 80, 4);
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
    

}

nav 
{
    padding: 10px;
    background-color: rgb(4, 80, 4);
    text-align: left;
}

nav > a:hover {
background-color: lightgreen;
color: darkgreen;
}


header {
    background-image: linear-gradient(to bottom, rgb(58, 189, 86), rgb(4, 80, 4));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.351);

}